<div id="footer">
    <div id="footercontent">
        <div id="footerLinks">
            <a target="_blank" href="https://github.com/BrettMatsumoto"><i class="fa fa-github fa-1x"
                    aria-hidden="true"></i></a>
            <a target="_blank" href="https://facebook.com/brett.matsumoto.7"><i class="fa fa-facebook fa-1x"
                    aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/brett-matsumoto-36488311b/"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
        </div>
        <div id="version">0.0.1</div>
    </div>
</div>