<div id="header">
    <div id="navbar">
        <h3 id="name"><a href="/">Brett Matsumoto</a></h3>
        <div class="dropdown">
            <div class="menubtn">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
            <div class="menucontent">
                <a href="/about" class="menucontentbtn">About</a>
                <a href="/contact" class="menucontentbtn">Contact</a>
                <a href="/blog" class="menucontentbtn">Blog</a>
            </div>
        </div>
    </div>
</div>