<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brett Matsumoto</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{> header}}
    <h1>Website construction in progress!</h1>
    <div>
        <img height="300px" width="400px"
            src="https://github.com/bflores88/savannah/blob/master/screenshots/main.png?raw=true" alt="Savannah">
        <img height="300px" width="200px"
            src="https://github.com/bflores88/myLingual/blob/master/screenshots/login.png?raw=true" alt="myLingual">
    </div>
    {{> footer}}
</body>

</html>